<form class="w-100 my-5" [formGroup]="formulario">

    <div class="mb-5">
        <h3>Ingreso mercancia a cuarto de solución:</h3>
        <hr>
    </div>

    <div class="mb-3">
        <h4>Mercancia: </h4>
        <hr>
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-box-seam-fill"></i>
            </span>
            <input type="text" class="form-control" placeholder="IUP" formControlName="iup">
        </div>
    </div>

    <div class="mb-3 mt-5">
        <h4>Remitente: </h4>
        <hr>
        <label class="form-label">Tipo de remitente: </label>
        <input type="text" class="form-control" placeholder="TipoRemitente" formControlName="tiporemitente">
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-key"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="identificación" formControlName="idRemitente">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-person-circle"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreRemitente">
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="departamento" formControlName="departamentoRemitente">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="municipio" formControlName="municipioRemitente">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-geo-alt"></i>
            </span>
            <input type="text" class="form-control" placeholder="Dirección" formControlName="direccionRemitente">
        </div>
    </div>

    <div class="mb-3 mt-5">
        <h4>Destinatario: </h4>
        <hr>
        <label class="form-label">Tipo de Destinatario: </label>
        <input type="text" class="form-control" placeholder="TipoDestinatario" formControlName="tipoDestinatario">
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-key"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="identificación" formControlName="idDestinatario">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-person-circle"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreDestinatario">
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Departamento" formControlName="departamentoDestinatario">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Municipio" formControlName="municipioDestinatario">
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <i class="bi bi-geo-alt"></i>
            </span>
            <input type="text" class="form-control" placeholder="Dirección" formControlName="direccionDestinatario">
        </div>
    </div>

    <div class="mb-3 mt-5">
        <h4>Ubicación en cuarto: </h4>
        <hr>
        <select class="form-select" formControlName="cuartodistriucion">
            <option selected>Zona: </option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <button type="submit" class="btn btn-warning w-100">Registrar</button>

</form>
       
